@using FormerUrban_Afta.DataAccess.DTOs.Login
@model AuthRequest
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card shadow-lg">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <p class="h3 fw-bold mb-2 text-primary">بازیابی رمز عبور</p>
                        <a class="text-muted op-7 fw-normal" asp-area="" asp-controller="Login" asp-action="Index">نرم افزار شهرسازی آمارد</a>
                    </div>
                    <form asp-area="" asp-action="SmsChangePassword" asp-controller="Login" autocomplete="off" method="post" id="ForgetPasswordForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="Message" value="@ViewBag.message" />

                        <div class="form-group mb-3">
                            <label for="mobile" class="form-label fw-semibold">شماره موبایل</label>
                            <input type="text" id="mobile" name="mobile" class="form-control form-control-lg" placeholder="شماره موبایل خود را وارد کنید">
                        </div>
                        <div class="form-group mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <label class="form-label me-2">کد کپچا :</label>
                                <div>
                                    <a class="pointer me-2"><i id="RefreshCapcha" class='bx bx-sync fs-20'></i></a>
                                    <img id="captchaImage" src="@Url.Action("GenerateCaptcha", "Login")" />
                                </div>
                            </div>
                            <input type="text" class="form-control mt-2" placeholder="لطفا کد کپچا را وارد کنید" asp-for="CaptchaCode" />
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg fw-bold">ارسال پیامک</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>