@inject IPermissionService PermissionService

@model UpdateCostumIdentityUserDto

<header class="app-header">
    <div class="main-header-container container-fluid">
        <div class="header-content-left">
            <div class="header-element">
                <a aria-label="Hide Sidebar"
                   class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                   data-bs-toggle="sidebar"><span></span></a>
            </div>
        </div>
        <div class="header-content-right">

            <div class="header-element">
                <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <div class="d-sm-block d-none">
                            <p class="fw-semibold mb-0 lh-1">@Model.Name @Model.Family</p>
                            @* <span class="op-7 fw-normal d-flex align-items-center justify-content-center fs-11">@(Model.Role.Any() ? Model.Role[0] : Model.UserName)</span> *@
                        </div>
                    </div>
                </a>
                <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                    @{
                        var changePass = await PermissionService.HasPermissionAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), "UserChangePassword");
                        if (changePass)
                        {
                            <li class="pointer">
                                <a id="ChangePassword" class="dropdown-item d-flex"><i class="ti ti-key fs-18 me-2 op-7"></i>تغییر رمز عبور</a>
                            </li>
                        }
                    }
                    <li class="pointer" id="Logout">
                        <a class="dropdown-item d-flex" asp-area="" asp-controller="Login" asp-action="Logout" id="LogoutBtn">
                            <i class="ti ti-logout fs-18 me-2 op-7"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
