@model ChangePasswordDto
<div class="modal-header">
    <h6 class="modal-title">تغییر رمز عبور</h6>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-12">
                <label asp-for="OldPassword" class="form-label">رمز عبور قدیم</label>
                <div class="input-group">
                    <input type="password" class="form-control form-control-sm" asp-for="OldPassword">
                    <button class="btn btn-sm btn-primary d-flex align-items-center" type="button" id="OldPasswordEyeBtn">
                        <i class="ri-eye-off-line align-middle fs-14" id="OldPasswordRepeatEye"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label asp-for="NewPassword" class="form-label">رمز عبور جدید</label>
                <div class="input-group">
                    <input type="password" class="form-control form-control-sm" asp-for="NewPassword">
                    <button class="btn btn-sm btn-primary d-flex align-items-center" type="button" id="NewPasswordEyeBtn">
                        <i class="ri-eye-off-line align-middle fs-14" id="NewPasswordEye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="progress custom-progress " role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" id="new-password-strength-bar"></div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label asp-for="RepeatPassword" class="form-label">تکرار رمز عبور جدید</label>
                <div class="input-group">
                    <input type="password" class="form-control form-control-sm" asp-for="RepeatPassword">
                    <button class="btn btn-sm btn-primary d-flex align-items-center" type="button" id="RepeatPasswordEyeBtn">
                        <i class="ri-eye-off-line align-middle fs-14" id="RepeatPasswordRepeatEye"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">
        بستن
    </button>
    <button type="button" class="btn btn-sm btn-success" id="ChangePasswordSubmitBtn">
        ذخیره اطلاعات
    </button>
</div>
