@{
    Layout = "_ErrorLayout";
}

<p class="error-text mb-sm-0 mb-2">404</p>
<p class="fs-18 fw-semibold mb-3">صفحه مورد نظر یافت نشد!</p>
<div class="row justify-content-center mb-5">
    <div class="col-xl-6">
        <p class="mb-0 op-7">
            1. عدم دسترسی به صفحه مورد نظر!
            <br />
            2. لینک موردنظر به درستی وارد نشده!
            <br />
            3. مشکلی در سرور اتصال به وجود آمده است. <br /> @(ViewBag.actionId != "" ? $"کد خطا : {ViewBag.actionId}" : "")
        </p>
    </div>
</div>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">
    بازگشت به نرم‌افزار
    <i class="ri-arrow-left-line align-middle ms-1 d-inline-block"></i>
</a>
